.blog {
  ul {
    display: list-item;

    li:before {
      content: "";
      position: absolute;
      background-color: #6b7280;
      // background-color: #d1d5db;
      border-radius: 50%;
      width: 0.375em;
      height: 0.375em;
      top: calc(50% - 0.1875em);
      left: 0.25em;
    }
  }

  li {
    position: relative;
    padding-left: 1.75em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  ol {
    li:before {
      content: counter(list-item, var(--list-counter-style, decimal)) ".";
      position: absolute;
      font-weight: 400;
      color: #6b7280;
      left: 0;
    }
  }

  code {
    font-size: 0.5em;
  }
}
